# Data Analysis Project on FIFA dataset

* #### The given data contains the data of 1500+ unique instances and has 13 columns
* #### The data will be cleaned and plotted as per required for understanding and will be made ready further use

In [1]:
# Importing all libraries that will be required for this project

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# Making a dataframe from the given data

df = pd.read_csv("/home/smayan/Desktop/Smayan_Kulkarni_S4DS/Smayan_Kulkarni_S4DS/data/TASK2- DATA.csv")

In [4]:
# Getting a small view of the data

df.head(5)

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
0,15/16,LaLiga,26,2/28/16,H,FC Barcelona,Sevilla FC,2:O1,RW,31,1:O1,Direct free kick,NaN
1,2O/21,NaN,NaN,NaN,A,FC Barcelona,NaN,1:OO,NaN,89,NaN,NaN,NaN
2,16/17,LaLiga,25,O3-O1-17,H,FC Barcelona,Sporting GijÃ³n,6:O1,RW,9,1:OO,Header,Javier Mascherano
3,Dec-13,LaLiga,36,O5-O8-13,H,Real Madrid,Malaga CF,6:O2,LW,26,2:O1,Right-footed shot,Xabi Alonso
4,22/23,UEFA Champions League,Group Stage,1O/5/22,A,Paris Saint-Germain,SL Benfica,1:1,AM,22,O:1,Left-footed shot,Neymar

In [5]:
# Understanding the statistical information in the dataset

df.describe()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
count,1511,1497,1507,1498,1504,1508,1500,1500,1435,1500,1507,1475,1012
unique,22,21,53,852,2,7,174,72,5,108,54,12,159
top,14/15,LaLiga,Group Stage,1/27/13,H,FC Barcelona,Sevilla FC,3:OO,CF,9O,1:OO,Left-footed shot,Luis Suarez
freq,127,831,164,8,875,717,71,99,552,32,219,589,52

In [7]:
# Checking the rows and columns in the dataframe

df.shape

(1564, 13)

In [9]:
# Getting crucial information of the dataframe such as data types and null values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1564 entries, 0 to 1563
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Season            1511 non-null   object
 1   Competition       1497 non-null   object
 2   Matchday          1507 non-null   object
 3   Date              1498 non-null   object
 4   Venue             1504 non-null   object
 5   Club              1508 non-null   object
 6   Opponent          1500 non-null   object
 7   Result            1500 non-null   object
 8   Playing_Position  1435 non-null   object
 9   Minute            1500 non-null   object
 10  At_score          1507 non-null   object
 11  Type              1475 non-null   object
 12  Goal_assist       1012 non-null   object
dtypes: object(13)
memory usage: 159.0+ KB

In [13]:
# Checking the data types in the dataframe

df.dtypes

Season              object
Competition         object
Matchday            object
Date                object
Venue               object
Club                object
Opponent            object
Result              object
Playing_Position    object
Minute              object
At_score            object
Type                object
Goal_assist         object
dtype: object

* #### Here it is seen that even all numerical values are of object type, this to perform any statistical analysis on them they should be converted to integer or float type

In [11]:
df['Minute'].value_counts()

Minute
9O      32
23      28
45      28
76      27
89      26
        ..
45+4     1
1        1
1O9      1
9O+7     1
1O5      1
Name: count, Length: 108, dtype: int64